/* jcore.css - Japanese common style 
 *  - Feel free to copy, distribute, or modify.
 *  - Absolutely NO WARRANTY.
 */


/* Originaly written by YANO Keisuke-san,
 * modified slightly by UCHIDA Akira.
 */

HTML {
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	font-size: 1.125rem;
}

BODY {
	background-color: #faf0e6;
	line-height: 150%;
	background: white;
	color: black;
	margin: 6%;
	padding: 1em;
	font-size: 1.125rem;
}

A:link {
	color: #0000cc;
}

A:visited {
	color: #990099;
}

A:hover {
	background: #ffcc00;
}

P {
	text-indent: 1em;
	/*  text-align: justify;*/
}

LI P,
DD P {
	text-indent: 0;
	/* margin? */
}

P,
DD {
	margin-top: 0em;
	margin-bottom: 0.3em;
}

PRE,
BLOCKQUOTE,
UL,
OL,
DL,
DIV {
	margin-top: 1em;
	margin-bottom: 1em;
}

EM {
	font-style: normal;
	text-decoration: underline;
}

DFN {
	font-style: normal;
	/* Don't be slanted */
	font-weight: bold
}

STRONG {
	font-weight: bolder
}

BLOCKQUOTE {
	margin-left: 2em;
}

ADDRESS {
	margin: 1.5em 1em 0 2em;
	/* assumed ADDRESS in the bottom of the document */
	line-height: 120%;
	font-style: normal;
}

PRE {
	line-height: 130%;
}


/* Headings [PENDING - Font size] */

H1 {
	line-height: 120%;
	text-align: center;
}

H2,
H3,
H4,
H5,
H6 {
	line-height: 120%;
	text-align: left;
}

H4,
H5,
H6 {
	margin-left: 1em;
}

DIV {
	margin: auto;
}


/* Common class selectors
   [PENDING - Should these be included this style sheet?] */

PRE.sample {
	line-height: 120%;
	background: #d8e0d0;
	padding: 0.5em;
	border: outset thin #d8e0d0;
}

.note {
	margin-left: 2em;
	text-indent: 0;
}


/* 戚林八音 */

h1,
h2,
h3 {
	font-weight: normal;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
	text-align: center;
}

h2::before {
	content: '◯ ';
	text-align: center;
	font-size: .8em;
	font-weight: bold;
}

h2::after {
	content: '字母';
}

h3 {
	display: inline;
	font-size: 1.5rem;
}

h3::before {
	content: '﹅';
}


/*ol {
  display: inline;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  list-style-type: none;
}

ol li {
  display: inline;
}

ol li::before {
	display: inline-block;
	color: white;
	background-color: black;
	border-radius: .5em;
	width: 1em;
	height: 1em;
	text-align: center;
	vertical-align: middle;
}
ol li:empty::before {
	color: black;
	background-color: transparent;
	border-color: black;
	border-width: 2px;
}*/

ol {
	margin-top: 0;
	padding-top: 2.25em;
	list-style-type: none;
}

ol li {
	text-indent: -.8em;
}

ol li::before {
	font-size: .6em;
	font-weight: bold;
	padding-bottom: .4em;
}

ol li:nth-child(1)::before {
	content: '';/*㊀*/
}
ol li:nth-child(2)::before {
	content: '';/*㊁*/
}
ol li:nth-child(3)::before {
	content: '';/*㊂*/
}
ol li:nth-child(4)::before {
	content: '';/*㊃*/
}
ol li:nth-child(5)::before {
	content: '';/*㊄*/
}
ol li:nth-child(7)::before {
	content: '';/*㊆*/
}
ol li:nth-child(8)::before {
	content: '';/*㊇*/
}
ol li:empty::before {
	content: '◯';
}
ol li:nth-child(6):empty::before {
	content: '⦿';/*㊅*/
}


/*ol li:nth-child(1)::before {
  content: '';
}
ol li:nth-child(1):empty::before {
  content: '㊀';
}
ol li:nth-child(2)::before {
  content: '';
}
ol li:nth-child(2):empty::before {
  content: '㊁';
}
ol li:nth-child(3)::before {
  content: '';
}
ol li:nth-child(3):empty::before {
  content: '㊂';
}
ol li:nth-child(4)::before {
  content: '';
}
ol li:nth-child(4):empty::before {
  content: '㊃';
}
ol li:nth-child(5)::before {
  content: '';
}
ol li:nth-child(5):empty::before {
  content: '㊄';
}
ol li:nth-child(6):empty::after {
  content: ' ';
}
ol li:nth-child(6):empty::before {
  content: '㊅';
}
ol li:nth-child(7)::before {
  content: '';
}
ol li:nth-child(7):empty::before {
  content: '㊆';
}
ol li:nth-child(8)::before {
  content: '';
}
ol li:nth-child(8):empty::before {
  content: '㊇';
}*/

ol li:empty {
	display: inline-block;
	width: .6em;
	height: .6em;
}

code {
	background-color: rgba(0,0,0,.08);
	font-family: inherit;
	/*font-size: .9em;*/
	padding: .2em 0;
	margin: .1em 0;
	border-radius: 3px;
}