<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>戚林八音字表</title>
<link rel="icon" href="img/icon.png" type="image/png">
<link rel="stylesheet" href="css/ciklinbekin.css">
<link rel="stylesheet" href="css/Hei.css">
</head>
<body>
{{ body }}
</body>
</html>