# Rime dictionary
# encoding: utf-8
# Dictionary of the Foochow Dialect, 3rd Edition, 1929

---
name: dfd
version: {{datetime}}
use_preset_vocabulary: true
...

{% for e in entries -%}
{{e}}
{% endfor -%}