<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>List of Characters - Dictionary of Foochow Dialect</title>
<link rel="icon" href="img/icon.dfd.png" type="image/png">
<link rel="stylesheet" href="css/dfd.css">
<link rel="stylesheet" href="css/KangXi.css">
</head>
<body>
<h1>List of Characters<br />from<br />Dictionary of the Foochow Dialect, 1929</h1>
<h2>List of the 214 radicals<br />(cê buô 字 部)</h2>
{%- block radical %}
{% for r in radicals -%}
{%- if r.str_type == "EntryType.RADICAL" -%}
<p><span>{{ r.html_char }}</span><sup>{{ r.html_buc_radical }}</sup></p>
{% else -%}
<h3>{{ r.number }} {% if r.number > 1 %}STROKES{% else %}STROKE{% endif %}</h3>
{% endif %}
{%- endfor -%}
{%- endblock -%}
<h2>Index of Characters<br />(mŭk <s>liŏh</s> luŏh 目 錄)</h2>
{% block characters -%}
{% for e in chars -%}
{%- if e.str_type == "EntryType.NORMAL_CHARACTER" -%}
<p><span>{{ e.html_char }}</span><sup>{{ e.html_buc }}</sup></p>
{% else -%}
<h3><a name="{{ e.number }}"></a>({{ e.number }})</h3>
{% endif %}
{%- endfor -%}
{%- endblock -%}
</body>
</html>